<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<!--	<add key="filePath" value="C:\Users\vconstantini2605\Desktop\Learning\C#\Data\TournamentTracker"/> -->
		<add key="filePath2" value="C:\Users\const\Desktop\File_Database"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=localhost;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>